


.accordion-body img{
    width: 1.5rem;
    height: 1.5rem;
}

.accordion-body button {
    font-size: 1.5rem; /* For the emoji */
}


/* my-custom-accordion style settings */

.my-custom-accordion .accordion-item {
    background-color: #ffffff;
    /*border: 2px solid #6f42c1;*/
    border: 2px solid hsl(131, 58%, 13%);
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.my-custom-accordion .accordion-button {
    background-color: hsl(131, 58%, 13%);
    color: white;
    font-weight: 600;
    padding: 1rem 1.25rem;
}

.my-custom-accordion .accordion-button:not(.collapsed) {
    background-color: hsl(131, 58%, 13%);
    color: white;
}

.my-custom-accordion .accordion-button::after {
    filter: brightness(0) invert(1);
}

.my-custom-accordion .accordion-body {
    background-color: #f8f9fa;
    padding: 1.5rem;
}

.my-custom-accordion .accordion-body  a:hover{
    color: #fc2498;
}
.my-custom-accordion .accordion-body  a:visited{
    color:#b727f5;
}

.my-custom-accordion .accordion-body a {
    display: inline-block;
    font-weight: bold;
    padding: 0.05rem 0.5rem;
    background-color: yellow;
    border-radius: 0.9rem;
    border: 1px solid hsl(131, 1%, 0%);
}
@keyframes iconPop {
    0% { transform: scale(1); }
    50% { transform: scale(1.3) translateY(-3px); }
    100% { transform: scale(1); }
}

.footer-icon-animation {
    animation: iconPop 0.4s ease-in-out;
}


/* media query for phone only */

@media only screen and (max-width: 768px) {
    
        footer.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .my-custom-accordion .accordion-item {
        border:none;
        border-radius: 0;
        background-color: transparent !important; /* Remove default bg */
        margin-bottom: 0 !important;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-left: 0 !important;
        margin-top: 0 !important;
        
    }
    .my-custom-accordion .accordion-item .accordion-body{
        margin-top: 0 !important;
    }
    .my-custom-accordion .accordion-button {
        border:solid 2px hsl(131, 58%, 13%);
        border-radius: 0;
        margin-bottom: 0;
    }
.my-custom-accordion .accordion-item:first-child .accordion-button {
    
    border-radius: 0.374rem 0.374rem 0 0;
}
.my-custom-accordion .accordion-item:not(:first-child) .accordion-button {
        border-top: none !important;
    }
.my-custom-accordion .accordion-item:last-child .accordion-button {
    
    border-radius: 0 0 0.374rem 0.374rem;
}
} 
/*@media only screen and (min-width: 768px) and (max-width: 1199.98px){*/

    /*these are just marks to identify marks like path stones*/
    /**/